.signup-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;  /* Added padding to labels */
    font-weight: bold;   /* Optional, to make the labels stand out */
}

input {
    width: 90%;
    padding: 12px;        /* Increased padding for inputs */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

button.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.signup-button:hover {
    background-color: #0056b3;
}

.error-box {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success-box {
    color: green;
    background-color: #e9ffe9;
    border: 1px solid #b2ffb2;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-link {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
